  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>At PlayPack we create free-to-play mobile games. Our long time dream is to bring true social experiences back to casual gaming space. Remember when true social was cool? When people played game together keeping their social network connections not only through photos and posts, but through games? Casual space on mobile could really use some good social experiences for the underserved casual audiences. And we are working hard to make this happen.</h2>
          </div>
      </div>
  </aside>
