<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Careers</h2>
                <hr class="light">
                <p class="text-faded">Check our LinkedIn page for current job opportunities!</p>
                <a href="https://www.linkedin.com/jobs/view/2549181107/?refId=%2BIFhCadYT9injy3BWbsPJQ%3D%3D" target="_blank" class="btn btn-default btn-xl">Join us!</a>
            </div>
        </div>
    </div>
</section>
   <div class="container">
       <h2 class="section-heading"></h2>
   </div>
