<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Careers</h2>
                <hr class="light">
                <p class="text-faded">Check current job opportunities!</p>
                <a href="https://thin-emery-539.notion.site/Work-with-PlayPack-289b1302e0f341338bdb5bf193d8cfbb" target="_blank" class="btn btn-default btn-xl">Join us!</a>
            </div>
        </div>
    </div>
</section>
   <div class="container">
       <h2 class="section-heading"></h2>
   </div>
