<section class="no-padding" id="info">
  <div class="container">
        <div class="row">
            <div class="text-center">
                <h2 class="section-heading">At PlayPack we create casual free-to-play mobile games</h2>
                <hr class="primary">
                <p>Our long time dream is to bring true social experiences back to casual gaming space. Remember when social was cool? Mobile gaming could really use a new take how casual players could interact with one another, bringing people together and opening new spaces for cooperation and discovery. And we are working hard to make this happen.</p>
            </div>
    </div>
  </div>
</section>
