<section class="no-padding" id="portfolio">
          <div class="container">
        <div class="row">
            <div class="text-center">
                <h2 class="section-heading">The Team</h2>
                <hr class="primary">
                <p>We are gamers by heart and profession. We love getting our hands dirty with whichever work is necessary to make a great product. Whereas its writing code, making art or assembling office chairs. We strongly belive in independent self-driven teams, continious learning, transparency and honest communication. And, hey, making games is simply cool!</p>
            </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.linkedin.com/in/tatianakondratyeva/" target="_blank" class="portfolio-box">
                    <img src="img/team/tatiana.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Hi, my name is
                            </div>
                            <div class="project-name">
                              Tatiana
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.linkedin.com/in/rafaelsantamarta/" target="_blank"  class="portfolio-box">
                    <img src="img/team/rafael.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Hi, my name is
                            </div>
                            <div class="project-name">
                                Rafael
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.linkedin.com/in/hendrik-demmer/" target="_blank"  class="portfolio-box">
                    <img src="img/team/hendrik.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Hi, my name is
                            </div>
                            <div class="project-name">
                               Hendrik
                            </div>
                        </div>
                    </div>
                </a>
            </div>
 <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.linkedin.com/in/eliasvillagomez/" class="portfolio-box">
                    <img src="img/team/elias.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                               Hi, my name is
                            </div>
                            <div class="project-name">
                                Elias
                            </div>
                        </div>
                    </div>
                </a>
            </div>
              <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.linkedin.com/jobs/view/2549181107/?refId=UeBbCiL9TUqwPBObC9AxlA%3D%3D" target="_blank"  class="portfolio-box">
                    <img src="img/team/developer.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                               Unlock Character
                            </div>
                            <div class="project-name">
                                Game Developer
                            </div>
                        </div>
                    </div>
                </a>
            </div>    
        </div>
    </div>
</section>
<div class="container">
        <div class="row">
            <div class="text-center">
                <hr class="primary">
               </div>
          </div>
</div>
                    
